.sticky-nav {
  position: fixed;
  top: 0px;
  width: 100%;
  left: 0;
  z-index: 99999;
  background: #fff;
  height: 90px;
  box-shadow: 1px 2px 1px #dad9d9;
  &__wrap{
    padding-top: 10px;
  }
}

.assesment {
  display: flex;
  flex-direction: column;
  h2 {
    margin: 0px 0px 8px 0px;
  }
}
