
<div class="sticky-nav">
  <div class="sticky-nav__wrap">
    <div class="d-flex justify-content-between container">
      <div class="logo">
        <a
        href="#"
        [attr.aria-label]="'Relx Logo'"
        routerLink="/"
        >
          <img src="assets/logo.webp?h=56&amp;iar=0&amp;w=103" alt="Relx" width="103" height="66">
        </a>
      </div>
      <div class="assessment d-flex flex-column">
        <h2>Rajkumar Manoharan</h2>
        <div class="d-flex">
          <span class="d-flex me-2">Assessment</span>
          <a href="javascript:void()" (click)="openDialog()">ReadMe</a>
        </div>
      </div>
    </div>
  </div>
</div>
