<div class="container filter-section d-flex justify-content-between">
  <form class="search-form d-flex flex-column" (ngSubmit)="searchList()" [formGroup]="searchForm">
  <mat-form-field class="search-bar" appearance="outline">
    <input
      matInput
      placeholder="Search By Name"
      formControlName="searchByName"
      [attr.aria-label]="'Search By Name'"
      (keyup)="searchList()"
      [tabIndex]="'1'">
      <i class="material-icons">search</i>
  </mat-form-field>
  </form>

  <mat-form-field>
    <mat-label>Select an option</mat-label>
    <mat-select [formControl]="filterDropdown" [(ngModel)]="optionSelected">
      <mat-option
        *ngFor="let list of dropDownData" [value]="list.code"
        (click)="updateList($event)"
      >{{ list.name }}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
